@import './_varindex.scss';

*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 300vh;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    background-color: $blanccasse;
}


.container {
    height: 90vh;
    width: 100%;
    position: relative;
    @include breakpoint(1700px) {
        display: flex;
        justify-content: center;
    }

    .maintxt {
        color: $grisfonce;
        // background-color: orange;
        height: 500px;
        width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30vh;
        @include breakpoint(1890px) {
            margin-top: 25vh;
        }

        .title {
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            letter-spacing: 6px;
            font-size: 4em;
            @include breakpoint(1200px) {
                font-size: 2em;
            }
            @include breakpoint(700px) {
                font-size: 1.5em;
            }
        }

        .orangelign {
            width: 300px;
            background-color: $orangeclair;
            height: 1vh;
            margin-top: 10px;
            margin-bottom: 30px;
            // animation: barre 1s infinite ease-in-out;
            @include breakpoint(700px) {
                height: 0.5vh;
            }
        }

        .orangelignanim {
            width: 20vw;
            background-color: $orangeclair;
            height: 50px;
            margin-top: 10px;
            margin-bottom: 30px;
        }

        .littletxt {
            font-family: 'Montserrat', sans-serif;
            width: 500px;
            height: 100px;
            text-align: center;
            vertical-align: middle;
            font-size: 30px;
            @include breakpoint(700px) {
                font-size: 20px;
            }
        }

        .frontend {
            font-family: 'Permanent Marker', cursive;
            font-size: 1em;
            letter-spacing: 1px;
        }
        
    }

    .mainbox {
        position: absolute;
        top: 15vh;
        right: 100px;
        width: 600px;
        height: 600px;
        background: url(../SRC/IMG/DSC00798.jpg) no-repeat;
        border-radius: 10%;
        background-size: cover;
        background-position: -190px;
        cursor: pointer;
        @include breakpoint(1890px) {
            height: 400px;
            width: 400px;
            background-position: -100px;
            top: 25vh;
        }
        @include breakpoint(1700px) {
            // height: 200px;
            // width: 200px;
            // border-radius: 50%;
            // background-position: -70px;
            // left: 100px;
            // top: 70px;
            display: none;
        }
    }

    .mainbox::after {
        position: absolute;
        content: '';
        display: block;
        background-color: $orangeclair;
        width: 100%;
        height: 100%;
        border-radius: 10%;
        z-index: -1;
        animation: orangebox 5s infinite ease-in-out;
        transition: all 0.3s;
        @include breakpoint(1700px) {
            border-radius: 50%;
        }
    }
}

.mousescroll {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    .mouse {
        top: 90vh;
        margin: auto;
        height: 50px;
        width: 30px;
        border-radius: 15px;
        border: 2px solid $grisfonce;
        animation: mouse 2s infinite ease-in-out;
        cursor: pointer;
        
    }

    .mouse::after {
        height: 5px;
        width: 5px;
        background-color: $grisfonce;
        border-radius: 50%;
        content: '';
        display: block;
        margin: auto;
        margin-top: 10px;
        animation: scroll 2s infinite ease-in-out;
    }

    p {
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
        font-size: 10px;
        font-weight: 600;
        color: $grisfonce;
        animation: txtscroll 2s infinite ease-in-out;
    }
}

@keyframes txtscroll {
    from {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }
}

@keyframes mouse {
    from {
        transform: translate(0);
    }

    50% {
        transform: translateY(5px);
    }
}

@keyframes scroll {
    from {
        transform: translate(0);
        background-color: $grisfonce;
    }

    50% {
        transform: translateY(15px);
        background-color: $orangeclair;
    }

    // 80% {
    //     opacity: 0;
    // }
}

@keyframes barre {
    from {
        transform: scaleX(0%);
    }
    to {
        transform: scaleX(100%);
    }
}

@keyframes orangebox {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(0deg);
    }
}
