.containerlangage {
    position: relative;
    display: flex;
    height: 40vh;
    width: 100%;
    margin-top: -30px;
    justify-content: space-around;
    align-items: flex-start;
    }
    .langage {
        display: inline;
        position: relative;
        height: 150px;
        width: 400px;
        background: #fff;
        border: 8px solid $grisfonce;
        border-radius: 5px;
        text-align: center;
        line-height: 150px;
        cursor: pointer;
        transition: 0.3s ease;
        &:last-child {
            position: absolute;
            width: 600px;
            justify-self: center;
            align-self: flex-end;
            &::after {
                content: '';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: 130px;
                height: 130px;
                background: $grisfonce;
                border: 10px solid $orangeclair;
                border-radius: 50%;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                top: 0;
                margin-top: -60px;
                margin-left: -50px;
            }
        }
        h1 {
            font-family: $Poppins;
            color: $grisfonce;
            position: relative;
            text-align: center;
            transition: all 0.3s ease-in-out;
            font-size: 2.5rem;
        }

        &::after {
            content: '';
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 120px;
            height: 120px;
            background: $grisfonce;
            border: 10px solid $orangeclair;
            border-radius: 50%;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            top: 0;
            margin-top: -40px;
            margin-left: -50px;
            transition: all 0.2s ease-out;
        }
        &:nth-child(1)::after {
            content: url(../../SRC/SVG/Normal/HTML.svg);
        }
        &:nth-child(2)::after {
            content: url(../../SRC/SVG/Normal/CSS.svg);
        }
        &:nth-child(3)::after {
            content: url(../../SRC/SVG/Normal/JS.svg);
        }
        &:nth-child(4)::after {
            content: url(../../SRC/SVG/Normal/CODE.svg);
        }
        
        &:hover::after {
            scale: 1.1;
            animation: mooveafter 0.7s ease;
        }

        &:last-of-type:hover::after {
            scale: 1;
        }
        &:last-of-type:hover h1 {
            transform: translateY(-100%);
            opacity: 0;
            color: $blanccasse;
        }
    }

@keyframes mooveafter {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(0deg);
    }
}
